@page
@model GmTool.Pages.LeaderBoards.LeaderBoardRewards.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LeaderBoardReward</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LeaderBoardReward.leader_board_no" class="control-label"></label>
                <input asp-for="LeaderBoardReward.leader_board_no" class="form-control" />
                <span asp-validation-for="LeaderBoardReward.leader_board_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaderBoardReward.item_id" class="control-label"></label>
                <input asp-for="LeaderBoardReward.item_id" class="form-control" />
                <span asp-validation-for="LeaderBoardReward.item_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaderBoardReward.item_count" class="control-label"></label>
                <input asp-for="LeaderBoardReward.item_count" class="form-control" />
                <span asp-validation-for="LeaderBoardReward.item_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
