#pragma once
#include <string>
#include <memory>
#include "GameData.pb.h"

class Base{{ table_name }}
{
protected:
    int32_t id_;
    std::shared_ptr<gamedata::{{ table_name }}> data_;

public:
    Base{{ table_name }}() : id_(0), data_(nullptr) {}
    virtual ~Base{{ table_name }}() = default;

    void Init(const gamedata::{{ table_name }}* data)
    {
        if (data == nullptr)
            return;

        data_ = std::make_shared<gamedata::{{ table_name }}>(*data);
        id_ = data_->id();
    }

    int32_t GetId() const { return id_; }
    const gamedata::{{ table_name }}* GetData() const { return data_.get(); }

    virtual void Clear()
    {
        id_ = 0;
        data_.reset();
    }

    bool IsValid() const
    {
        return data_ != nullptr;
    }

    {% for field in fields %}
    {{ field.type }} Get{{ field.name }}() const
    {
        if (!IsValid())
            return {{ field.default_value }};
        return data_->{{ field.name|lower }}();
    }

    {% if field.has_field %}
    bool Has{{ field.name }}() const
    {
        if (!IsValid())
            return false;
        return data_->has_{{ field.name|lower }}();
    }
    {% endif %}
    {% endfor %}
}; 