@page
@model GmTool.Pages.Members.SuspendChannelModel

@{
    ViewData["Title"] = "Channel";
}

@if (Model.is_suspend)
{
    <h1>Channel Suspend</h1>
}
else
{
    <h1>Channel Resume</h1>
}


<span style="color:red">This command is not immediately reflected. Please wait a few seconds!</span>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="is_suspend" />

            <div class="form-group">
                <label asp-for="channel_id" class="control-label"></label>
                <input asp-for="channel_id" class="form-control" />
                <span asp-validation-for="channel_id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
