{% if include_header %}
#pragma once
#include <string>
#include <chrono>
#include <sstream>
#include <format>
#include <mariadb/conncpp.hpp>

inline std::chrono::system_clock::time_point fromMySQLDateTime(const sql::SQLString& dt) {
    std::chrono::system_clock::time_point tp;
    std::istringstream ss(dt.c_str());
    std::chrono::from_stream(ss, "%Y-%m-%d %H:%M:%S", tp);
    return tp;
}

inline std::string toMySQLDateTime(const std::chrono::system_clock::time_point& tp) {
    return std::format("{:%Y-%m-%d %H:%M:%S}", tp);
}

{% else %}

// ----------------------------------------
{% endif %}

struct {{ table.vo_class_name }} {
{% for col in table.columns %}
    {{ col.cpp_type }} {{ col.name }};
{% endfor %}
};