@page
@model GmTool.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.character_no" class="control-label"></label>
                <input asp-for="User.character_no" class="form-control" />
                <span asp-validation-for="User.character_no" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.play_point" class="control-label"></label>
                <input asp-for="User.play_point" class="form-control" />
                <span asp-validation-for="User.play_point" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.user_grade" class="control-label"></label>
                <input asp-for="User.user_grade" class="form-control" />
                <span asp-validation-for="User.user_grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.battle_score" class="control-label"></label>
                <input asp-for="User.battle_score" class="form-control" />
                <span asp-validation-for="User.battle_score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.gem" class="control-label"></label>
                <input asp-for="User.gem" class="form-control" />
                <span asp-validation-for="User.gem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.coin" class="control-label"></label>
                <input asp-for="User.coin" class="form-control" />
                <span asp-validation-for="User.coin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.battle_coin" class="control-label"></label>
                <input asp-for="User.battle_coin" class="form-control" />
                <span asp-validation-for="User.battle_coin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.medal" class="control-label"></label>
                <input asp-for="User.medal" class="form-control" />
                <span asp-validation-for="User.medal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.upgrade_stone" class="control-label"></label>
                <input asp-for="User.upgrade_stone" class="form-control" />
                <span asp-validation-for="User.upgrade_stone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.medal_charge" class="control-label"></label>
                <input asp-for="User.medal_charge" class="form-control" />
                <span asp-validation-for="User.medal_charge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.medal_charge_time" class="control-label"></label>
                <input asp-for="User.medal_charge_time" class="form-control" />
                <span asp-validation-for="User.medal_charge_time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
